# Copy to .env.multimodal and set MINIMAX_API_KEY only.
# https://platform.minimaxi.com/user-center/basic-information/interface-key

MINIMAX_PROVIDER=minimax
MINIMAX_API_KEY=YOUR_sk-api_KEY_HERE
MINIMAX_API_HOST=https://api.minimaxi.com
VISION_MODEL=MiniMax-M3
IMAGE_GEN_MODEL=image-01
